<div
  class="preview-card"
  (mouseenter)="onHoverEnterInternal()"
  (mouseleave)="onHoverLeave()"
  [ngStyle]="previewStyle"
  [class.visible]="visible"
>
  <div class="relative">
    <img
      [src]="movie.backdrop"
      alt="{{ movie.title }}"
      [style.width]="width"
      class="aspect-[16/9] object-cover"
    />
    <img
      *ngIf="movie.logo"
      [src]="movie.logo"
      alt="{{ movie.title }} logo"
      class="absolute inset-0 mx-auto my-auto max-h-[90%] max-w-[80%] object-contain pointer-events-none shadow-xl"
    />
  </div>

  <div class="p-4 space-y-2 text-sm">
    <div class="flex items-center space-x-3">
      <button
        class="w-8 h-8 rounded-full bg-white text-black flex items-center justify-center hover:scale-110 transition"
      >
        ▶
      </button>
      <button
        class="w-8 h-8 rounded-full border border-gray-400 text-lg font-bold flex items-center justify-center hover:scale-110 transition"
      >
        +
      </button>
      <button
        class="ml-auto w-8 h-8 rounded-full border border-gray-400 flex items-center justify-center hover:rotate-180 transition"
      >
        ⌵
      </button>
    </div>

    <div class="flex items-center space-x-2 text-xs">
      <span class="text-green-400 font-semibold">{{ movie.match }}% Match</span>
      <span class="px-1.5 py-0.5 bg-neutral-700 text-xs rounded"
        >{{ movie.rating }}</span
      >
      <span>{{ movie.year }}</span>
    </div>

    <div class="text-xs text-gray-400">{{ movie.genres.join(' • ') }}</div>
  </div>
</div>
